@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Roboto:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.heroe{
    height: 40vh;
}

.separador{
    background: rgb(82,34,208);
    background: -moz-linear-gradient(324deg, rgba(82,34,208,1) 4%, rgba(68,28,172,1) 48%, rgba(0,0,0,1) 86%);
    background: -webkit-linear-gradient(324deg, rgba(82,34,208,1) 4%, rgba(68,28,172,1) 48%, rgba(0,0,0,1) 86%);
    background: linear-gradient(324deg, rgba(82,34,208,1) 4%, rgba(68,28,172,1) 48%, rgba(0,0,0,1) 86%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5222d0",endColorstr="#000000",GradientType=1);
    height: 8px;
    border: none; 
}

.header{
    background-color: hsl(0, 0%, 100% );
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    max-width: 100%;
    transition: all 1s;
}

.header__logo:hover {
    transform:scale(1.1);
}

.header__list{
    list-style: none;
    display: flex; 
}

.header__item{
    margin: 0px 10px; 
}

.header__link{
    background: transparent;
    border-bottom: solid 2px #FF0033; 
    padding: 12px 8px;
    text-decoration: none;
    color: #FF0033; 
    font-family: 'Londrina Solid', cursive;
    transition: background 0.5s, color 0.4s;
    font-size: 1.4rem;
    display: block;
}

.header__link:hover{
    background: #FF0033;
    color: #fff; 
    border-radius: 5px;
 }



.hero__contenedor{
    color: white;
    position: relative;
    left: 30px; 
    padding: 20px 15px;
    border-radius: 15px; 
    width: 550px;
}

.hero__titulo{
    font-family: 'Londrina Solid', cursive;
    font-weight: 400;
    font-size: 4.5rem;
}

.btn{
    background-color: #FF0033;
    border: none; 
    color: white; 
    padding: 12px 8px;
    border-radius: 3px;
    cursor: pointer;
}

.complementoMain{
    color: white; 
    background-color: #001F45;
    display: flex;
}


.complementoMain__video{
    width: 100%;
}

.complementoMain__contenedor{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 60px 40px;
    justify-content: center;
}

.complementoMain__titulo{
    font-family: 'Londrina Solid', cursive;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.complementoMain__parrafo{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.8;
}


.equipo{
    background-color: #FF6E00;
    color:#fff; 
    display: flex;
    flex-direction: column;
    padding: 60px 40px;

}

.equipo__contenedor{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

.equipo__titulo--grande{
    font-family: 'Londrina Solid', cursive;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.equipo__miembro{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.8;

}

.equipo__img{
    width: 100%;
    border-radius: 50%;
    max-width: 160px;
    height: 160px;
    object-fit: cover;
    margin: auto;
}

.equipo__img--azul{
    border: 10px solid #001F45;
}

.equipo__img--rojo{
    border: 10px solid #FF0033;
}

.equipo__img--rosa{
    border: 10px solid #D0004B;
}

.equipo__img--gris{
    border: 10px solid #40516B;
}

.complementoEquipo{
    display: flex;
    flex-direction: row;
    padding: 60px 40px;
    justify-content: center; 
    font-family: 'Roboto', sans-serif;
}

.complementoEquipo__contenedor{
    display: flex; 
    flex-direction: row;
    gap: 20px; 
}

.complementoEquipo__img{
    width: 100%;
}

.complementoEquipo__contenedor--texto{
    align-self: center;
    width: 100%;
}

.complementoEquipo__titulo{
    font-family: 'Londrina Solid', cursive;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.complementoEquipo__parrafo{
    font-size: 1rem;
    line-height: 1.8;
}

.footer{
    display: flex;
    padding: 60px 40px;
    background-color: #fff;

}

.footer__columna{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__logo{
    max-width: 200px;
    margin: auto;
}

.footer__list{
    list-style: none;
}

.footer__list a{
    text-decoration: none;
    margin: 10px 0px;
    display: inline-block;
}


.hero{
    background-image: url("../img/nene-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
}

/*ESTILOS ESTUDIOS */


.grid__general{
    display: grid;
    grid-template-rows: auto 1fr auto;
   /* height: 100vh; ESTA ES LA QUE ME PUDRIÓ*/ 
}

.main--grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem; 
    padding: 1rem;
}

.main__img{
    width: 100%;
}


.sub__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px 10px;
    background: cornflowerblue;
    grid-column-start: 1;
    grid-column-end: 3;
}

.sub__grid--hijo{
    grid-column-start: 1;
    grid-column-end: span 3;
}


.sub--div{
    width: 100%;
}

.sub--div img{
    width: 100%;
}

.main__derecha, .main__izquierda{
    padding: 1rem 1.2rem;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.izquierda__parrafo{
    margin: 10px 0px;
}


.body--cornflowerblue{
    background-color: cornflowerblue;
}


/*ESTILOS CURSOS*/





/* MEDIA QUERIES - RESPONSIVE - ESTILOS MOVIL  */

/*ESTILOS MOVILES*/
@media  screen and (max-width: 768px) {
    .equipo__contenedor, .footer, .header, .complementoMain, .complementoEquipo__contenedor {
        flex-wrap: wrap;
    }
    .complementoEquipo{
        padding: 0px 0px;
    }

    .complementoMain__contenedor{
        flex-basis: 100%;
        padding: 20px 10px;
    }

    .header {
        justify-content: center;
    }
    .hero__titulo{
        font-size: 1.75rem;
    }
    .hero__contenedor{
        left: 0px;
    }
    .header__list{
        flex-direction: column;
    }
    .main--grid {
        grid-template-columns: auto;
        gap: 0px; 
    }

    .sub__grid {
        grid-template-columns: auto;
    }
    .sub--div{
        padding: 1rem;
    }
}

/*ESTILOS DESKTOP*/
@media screen and (min-width: 768px){
    .header__list{
        flex-direction: row;
    }
    
} 


